<!DOCTYPE html>
<html>
  <head>
    <title>Smoothie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/vendor/theme.css" rel="stylesheet" media="screen">
    <link href="/static/css/vendor/loading.css" rel=stylesheet />
    <link href="/static/css/vendor/onescroll.css" rel=stylesheet />
    <link href="/static/css/style.css" rel=stylesheet />

    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.js"></script>
    <![endif]-->

    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/knockout-min.js" ></script>
    <script src="/static/js/vendor/jquery.onepage-scroll.min.js"></script>

    <script src="/static/js/models.js"></script>
    <script src="/static/js/main.js"></script>

  </head>
  <body data-attack_type="wifi">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div></div>

    <div class=main data-bind="with: MainModel" >

        <section class="page1 section" data-index=1  data-bind="with: WifiCardsModel">
            <h1 class="text-center"> Select your wireless card </h1>
            <hr>
            <div data-bind="foreach: wifi_list">
                <div class="col col-md12 text-center">
                    <button class="btn btn-primary btn-lg lead h1"
                        data-bind="text: $data, click: $parent.select"></button>
                </div>
            </div>
        </section>

        <section class="page2 section" data-index=2>
            <h1 class="text-center"> Are you targetting a specific network / client ? </h1>
            <hr>
            <div data-bind="foreach: ButtonsModel">
                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12 text-center">
                        <button data-bind="click: start, attr{aria-pressed: status}, text:value" 
                                class="btn btn-success btn-lg" 
                                data-toggle="button" ></button>
                    </div>
                </div>
            </div>
        </section>

        <section class="page3 section" data-bind="with: TargetsModel" data-index=1>
            <h1 class="text-center"> Choose a target </h1> <hr/>
            <h3 class="text-info text-center"> Access Points </h3>
            <table style="margin-bottom:30px" class="table table-stripped table-noborder">
                <thead>
                    <th>Power</th>
                    <th>ESSID</th>
                    <th>BSSID</th>
                </thead>
                <tbody data-bind="foreach: tree">
                    <tr data-bind="click: $parent.select, attr: {'data-target': JSON.stringify($data) }">
                        <td data-bind="text: $data.Power"></td>
                        <td data-bind="text: $data.ESSID"></td>
                        <td data-bind="text: $data.BSSID"></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="page1 section" data-index=1  data-bind="with: AttacksModel">
            <h1 class="text-center"> Select an attack </h1>
            <hr>
            <div data-bind="foreach: attack_list">
                <div class="col col-md12 text-center">
                    <button class="btn btn-primary btn-lg lead h1"
                            data-bind="text: $data, 
                                       attr: {'data-plugin': $data},
                                       click: $parent.select"></button>
                </div>
            </div>
        </section>

    </div>
  </body>
</html>
